.about {
  clear: both;
  background-color: #13171b;
  padding: 20px 0 0;
  position: relative;
  padding-bottom: 30px;
  
  @include overTab {
    padding: 35px 0 0;
    padding-bottom:50px ;
  }
  h1,
  h2 {
    color: white;
    text-align: center;
    font-size: 12px;
    @include overTab {
      font-size: 15px;
    }
  }
  h1 {
    font-size: 25px;
    margin-bottom: 10px;
    @include overTab {
      font-size: 45px;
    }
  }
  h2 {
    margin-bottom: 20px;
    @include overTab {
      margin-bottom: inherit;
    }
  }
  .about-content {
  }

  img {
    height: 225px;
    width: 300px;
    padding: 0 15px;
    position: relative;
    // width: 30%;
    transition: all 0.3s ease-out 0s;
    &:hover {
      cursor: pointer;
      transform: scale(0.9, 0.9);
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8;
    }
    
    
  }

  .about-image {
    
    @include overTab {
      display: flex;
      margin-top: 20px;
      justify-content: center;
    }
  }

  .about-item {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
    @include overTab {
      margin: inherit;
    }
  }

  .about-text {
    font-size: 2rem;
    background-color: rgba(13, 6, 3, 0.6);
    color: white;
    // display: block;
    font-family: "Libre Baskerville", serif;
    height: 44px;
    line-height: 46px;
    position: absolute;
    text-align: center;
    width: 302px;
    left: 40px;
    bottom: 0;
    
    @include overTab {
      left: 14px;
      bottom: 0;
    }
    a {
      color: white;
    }
  }

  .about-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    // background-color: #ceb849;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;
  }

  .about-text:hover::after {
    transform: scaleX(0.5);
  }
}
